%h1 Listing projects
= link_to 'New project', new_project_path
%table
  %tr
    %th Title
    %th Description
  - @projects.each do |project|
    %tr
      %td= project.title
      %td= project.description
