%p
  %strong Title:
  = @project.title
%p
  %strong Text:
  = @project.description
-#  link_to "Profile", controller: "profiles", action: "show", id: @profile
= link_to 'Tasks', controller: 'tasks', action: 'index', project_id: @project
= link_to 'Back', projects_path
