.container
  %center.row
    = bootswatch_flash
    %h1
      HEY!
    %h2
      Lorem ipsum dolor sit amet!
    = link_to 'Sign up', '/users/sign_up', class: "btn btn-info"
    = link_to 'Log in', '/users/sign_in', class: "btn btn-primary"

